@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    user-select:none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
:root {
    --text: #48a9a6;
    --almond: #f2e2d2;
    --violet :#9c89b8;
}
body{
    overflow-x:hidden;
}
canvas{
    display:block;
}
/* Container */
.container{
    display:flex;
}
/* Left Canvas */
#p5Canvas{
    min-width:80vw;
    height: 100vh;
}
/* Right Options side bar */
.sidebar{
    min-width: 20vw;
    background-color: var(--almond);
    color: var(--text);
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}
h1{
    margin: 10px;
}
.options{
    width:90%;
    margin: 20px;
    padding: 5px;
}
p{
    margin:5px;
    color: var(--violet);
}
span, label{
    font-weight:500;
    color:var(--violet);
}
.opt{
    font-weight: 800;
    font-size: 1.25rem;
    color: var(--text);
}
.addon{
    font-weight: 800;
    color: var(--text);
}
input{
    margin: 5px 3px;
}
/* Slider */

.slider{
    width: 100%;
    height: 5px;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width:10px;
    height: 5px;
    background: 'white';
    border-radius: 50%;
    cursor:pointer;
}
.slider::-moz-range-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 5px;
    border-radius: 50%;
    cursor: pointer;
}
